<h2>Edit Account</h2>

<form method="post" action="/user/{{currentUser._id}}?_method=patch">

  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" placeholder="i.e. Carol Grimes" value="{{user.name}}">
  </div>

  <div class="form-group">
    <label for="location">Current Location</label>
    <select name="interests" multiple class="form-control">
      <option>North West</option>
      <option>West</option>
      <option>South West</option>
      <option>Mid-West</option>
      <option>South East</option>
      <option>Mid-Atlantic</option>
      <option>North East</option>
    </select>
  </div>

  <div class="form-group">
    <label for="photo">Profile Picture</label>
    <input class="form-control" type="text" name="photo" id="photo" placeholder="http://example.com/myImage.jpg" value="{{user.photo}}">
  </div>

  <div class="form-group">
    <label for="bio">Biography</label>
    <textarea class="form-control" name="bio" id="bio" placeholder="A little bit about me..." rows="3" >{{user.bio}}</textarea>
  </div>

  <div>
    <label for="interests">Interests</label>
  </div>
  <div class="form-group">
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Foodie" autocomplete="off"> Foodie
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Hiking" autocomplete="off"> Hiking
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Art" autocomplete="off"> Art
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="History" autocomplete="off"> History
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Wildlife" autocomplete="off"> Wildlife
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Adventure" autocomplete="off"> Adventure
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Festivals" autocomplete="off"> Festivals
      </label>
      <label class="btn btn-primary">
        <input type="checkbox" name="interests" value="Music" autocomplete="off"> Music
      </label>
    </div>
  </div>


  <div class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" id="email" value="{{user.local.email}}">
  </div>


  <div class="form-group">
    <label for="email">Password</label>
    <input class="form-control" type="password" name="password" id="password">
  </div>

  <input class="btn btn-default" type="submit" value="Update Profile">
</form>
